* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  min-height: 60px;
  width: 100%;
  margin-bottom: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.top > h1 {
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Font size */
  border-radius: 5px; /* Rounded corners */
  padding: 12px;
  font-weight: bolder;

}

.del,
.reset {
  font-size: 15px;
  padding: 0 12px;
}

.reset,
.equal {
  grid-column: span 2;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11px;
  width: 13px;
  appearance: none;
  background-color: black;
  border-radius: 50%;
}

.button:hover {
  cursor: pointer;
}

.switch-container {
  width: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252D44;
  border-radius: 50px;
}

#calculator {
  padding: 10px;
}

.switch-numbers {
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  font-size: 10px;
  padding-left: 3px;
  padding-bottom: 4px;
}

.switch {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.theme {
  font-size: 10px;
  margin-top: 12px;
  margin-right: 12px;
}
